<div id="ModalTable" >
    <table class="table table-bordered">
        <thead>
            <tr class="success">
                <th colspan="2">
                    New User Registration
                    @*<a class="btn btn-success pull-right" href="Login.html">Login</a>*@
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Email</td>
                <td><input type="text" placeholder="Email" /> </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="password" id="txtPassword"
                           placeholder="Password" />
                </td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td>
                    <input type="password" id="txtConfirmPassword"
                           placeholder="Confirm Password" />
                </td>
            </tr>
            <tr class="success">
                <td colspan="2">
                    <input id="btnRegister" class="btn btn-success"
                           type="button" value="Register" />
                </td>
            </tr>
        </tbody>
    </table>
</div>

